body,html {
    font-family:Georgia;

}
header,nav {
    background-color: #3CB371;
    color:white;
    height:100px;
    width:40%;
    float:left;
}
aside {
    background-color: #3CB371;
    height:100px;
    width:20%;
    float:left;
}

.dane {
    background-color: #FFDAB9;
    width:170px;
    height:90px;
    margin:5px;
    border:1px solid #3CB371;
    float:left;
}
footer {
    background-color: #3CB371;
    color:white;
    float:left;
    width:100%;
}
h6 {
    text-align:right;
}
form {
    padding:30px;
}